
<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            
                    <form class="box" action="/register" method="POST"> 
                            <h2>Register Page</h2> 
                            <input class="form-control" type="text" name="username" placeholder="E-Mail">
                            <input class="form-control" type="text" name="fullname" placeholder="Full Name">
                            <input class="form-control" type="date" name="birthday">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                            <button type="submit">Submit</button>
                    </form>
            
        </div>
    </div>
</div>







<%- include("../partials/footer") %>



<!-- 
<div class="container sizeOfloginAndRig">
    <h2>Register Page</h2>
    <form action="/register" method="POST">

        <div class="input-group col-xs-4 col-sm-4 col-md-8">
            <input class="form-control" type="text" name="username" placeholder="E-Mail">
        </div>
        
    

        <div class="input-group col-xs-4 col-sm-4 col-md-8">
            <input class="form-control" type="text" name="fullname" placeholder="Full Name">
        </div>
        

        <div class="input-group col-xs-4 col-sm-4 col-md-8">
            <input class="form-control" type="date" name="birthday">
        </div>
        

        <div class="input-group col-xs-4 col-sm-4 col-md-8">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>

        <button  class="regi-login btn btn-success col-xs-4 col-sm-4 col-md-8">Submit</button>
    </form>

</div> -->
